
@{
    ViewBag.Title = "Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="registered">
    <h2>Status</h2>
    <p>@ViewData["status"]</p>
    <p>
        @Html.ActionLink("Make a Booking", "BookARoom", "Booking")
    </p>
</div>

