@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div id="container">
        <h1><a id="gallery">Gallery</a></h1>
        <div id="slideshow">

            <img src="~/Images/Moore'sB&BBackyard.jpg" alt="Moore's B&B Backyard" />
            <img src="~/Images/Relaxingareabackyard.jpg" alt="Relaxing area backyard" />
            <img src="~/Images/Gazebo.jpg" alt="Wooden Gazebo" />
            <img src="~/Images/Livingroom.jpg" alt="Living room with piano and view to the backyard" />
            <img src="~/Images/Boats.jpg" alt="Our boats by the river" />
            <img src="~/Images/Livingroomanddiningroom.jpg" alt="Living room and dining room" />
            <img src="~/Images/Moore'sB&Bviewfromtheriver.jpg" alt="Moore's B&B view from the river" />
            <img src="~/Images/MoherSuite.jpg" alt="The Moher Suite" />



            <img src="~/Images/Moore'sB&BKitchenArea.jpg" alt="Moore's B&B Kitchen Area" />
            <img src="~/Images/Fishingbytheriver.jpg" alt="Fishing by the river" />
            <img src="~/Images/Bridge.jpg" alt="Bridge" />
            <img src="~/Images/Moore'sB&BBreakfast.jpg" alt="Moore's B&B Breakfast" />
            <img src="~/Images/River.jpg" alt="River" />
        </div>

        <article class="welcome">
            <h1>TripAdvisor Excellence Award</h1>
            <p>
                Moore's B&amp;B has won the 2015 and 2016 TripAdvisor Award, thanks to you, our loyal customers that give your <a href="reviews.html">feedback </a>
                so that we can be better!
            </p><p> Please, feel free to rate us and to let us know how Moore's B&amp;B can make your stay even better!</p>

            <img src="~/Images/coetr.png" alt="2016 TripAdvisor Exelence Awawrd" />
            <img src="~/Images/2015.jpg" alt="2015 TripAdvisor Exelence Award" />
        </article>
        <article class="welcome">
            <h3>Follow us on social media and show us your love!</h3>
            <a href='#' target="_blank"><img src="~/Images/fbr.png" alt="Moore's B&amp;B Facebook page"></a>
            <a href='#' target="_blank"><img src="~/Images/twr.png" alt="Moore's B&amp;B Twitter page"></a>
            <a href='#' target="_blank"><img src="~/Images/tar.png" alt="Moore's B&amp;B TripAdvisor page"></a>
            <a href='#' target="_blank"><img src="~/Images/gpr.png" alt="Moore's B&amp;B Google+ page"></a>
        </article>

    </div>
  
    <script src="https://use.fontawesome.com/0015bde30a.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="~/Scripts/scripts.js"></script>
