
@{
    ViewBag.Title = "MeetYourHost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div id="wraper">
   <section>
            <div id="container">
                <article class="welcome">
                    <h1>Meet Gillian Moore</h1>

                    <p class="p">
                        Gillian Moore is the owner of a unique Bed & Breakfast business located on the west coast of
                        Ireland in Galway city. Gillian’s business is a family run B &amp;B,
                        in operation for the past 20 years and offers
                        spectacular views over Galway Bay.<img src="~/Images/gillianm.jpg" alt="The host Gillian Moore" class="pic" />
                        During this time, business has come from word of mouth.
                    </p>
                    <p class="p">
                        The Moore's House has been run by the family and the family-run
                        atmosphere is what we hope will make you feel so welcome.
                    </p>
                    <p class="p">
                        Acquired by Gillian Moore and her husband in 1995, both of whom left management jobs at Marks
                        and Spencer to purchase the Hotel, the Jesmond doubled as a family home in the early years
                        where they raised their two sons Glyn and James from the ages of 5 and 3. Along with the
                        family’s Old English sheepdog Ben, many happy years were spent here building up the reputation
                        of the business as well as raising two young boys.
                    </p>
                    <p class="p">
                        Through the years both sons worked as part-time cleaners (once they were old enough!),
                        helped to cook and serve breakfast and worked on reception. James was the first to
                        leave and acquire a University degree from Brighton University in Business Management,
                        whilst Glyn remained at the Jesmond. James, who returns periodically, on one occasion
                        to design and construct our beautiful garden, has a thirst for travel and other
                        cultures, and now divides his time between the UK and travelling abroad. Glyn,
                        now managing the hotel, has studied part-time and gained a degree in Film, and
                        a Masters Degree in Building Surveying.
                    </p>
                </article>

                <article class="welcome">
                    <h1>TripAdvisor Excellence Award</h1>
                    <p>
                        Moore's B&amp;B has won the 2015 and 2016 TripAdvisor Award, thanks to you, our loyal customers that give your<a href="reviews.html"> feedback </a>
                        so that we can be better!
                    </p><p> Please, feel free to rate us and to let us know how Moore's B&amp;B can make your stay even better!</p>

                    <img src="~/Images/coetr.png" alt="2016 TripAdvisor Exelence Awawrd" />
                    <img src="~/Images/2015.jpg" alt="2015 TripAdvisor Exelence Award" />
                </article>
                <article class="welcome">
                    <p>Follow us on social media and show us your love!</p>
                    <a href='#' target="_blank"><img src="~/Images/fbr.png" alt="Moore's B&amp;B Facebook page"></a>
                    <a href='#' target="_blank"><img src="~/Images/twr.png" alt="Moore's B&amp;B Twitter page"></a>
                    <a href='#' target="_blank"><img src="~/Images/tar.png" alt="Moore's B&amp;B TripAdvisor page"></a>
                    <a href='#' target="_blank"><img src="~/Images/gpr.png" alt="Moore's B&amp;B Google+ page"></a>
                </article>

            </div>
        </section>

        
    </div>
    <script src="https://use.fontawesome.com/0015bde30a.js"></script>


