
@{
    ViewBag.Title = "Plan Your Stay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

                <div id="container">

                    <article class="welcome">
                        <h1><a id="planyourstay"> Facilities nearby</a></h1>
                        <p>
                            Eyre Square Shopping Centre, three sandy beaches, spectacular
                            coastal walks, a variety of restaurants within walking distance, friendly traditional Irish music pubs,
                            horse-riding, golfing, fishing, and a variety of water sports. Bikes are available for hire.
                        </p>


                        <p>
                            We offer tours with discounds for: Connemara, Cliffs of Moher, The Aran
                            Islands and a bus tour of Galway City.
                        </p>
                    </article>
                    <article class="welcome">
                        <h1>Things you can do in Galway City</h1>


                        <section class="todo">
                            <h2>Shop for some traditional Celtic jewellery</h2>
                            <p>
                                <img src="~/Images/gc1.jpg" alt="Downtown Galway" class="piclf" />
                                Call in and watch Jonathan Margetts tinkering with rings in Thomas Dillon’s shop.
                                He’s an expert on the history of the Claddagh Ring, Ireland’s most famous traditional ring.
                                The rings were originally made in the shop, which date back to 1750.
                            </p>
                        </section>

                        <section class="todo">
                            <h2>Savor the Tastes</h2>
                            <p>
                                <img src="~/Images/g2.jpg" alt="Downtown Galway" class="piclf" />
                                From fabulous farmhouse Irish cheeses at Sheridan’s to the irresistible McCambridge’s food emporium–
                                you’ll find something to your taste in Galway. No visit is complete without calling in to the
                                family-owned Griffin’s Bakery (going strong since 1876 and now in its fifth generation) for their
                                unbeatable breads.
                            </p>
                        </section>

                        <section class="todo">
                            <h2>Experience a musical medieval church</h2>
                            <p>
                                <img src="~/Images/tunes.jpg" alt="Tunes in the church band" class="piclf" />
                                Packed with curious corners and ancient tombs, Ireland’s largest medieval parish church,
                                St Nicholas’s Collegiate Church, was built in 1320. These days, the traditional 'Irish Tunes in the
                                Church' feature the rector on his concert flute on summer nights. Don’t miss the weekend Galway Market
                                just beside it, too.
                            </p>
                        </section>
                        <section class="todo">
                            <h2>Kirwan’s Lane</h2>
                            <p>
                                <img src="~/Images/kirwln.jpg" alt="Kirwan's Lane" class="piclf" />
                                The lane itself is named after one of Galway’s 14 Tribes, the Kirwans, who helped build the city into a
                                bustling centre of industry in the 1500s. It’s said to be one of five existing medieval lanes out of a
                                former 14 in the City of Tribes. A highlight of the current Kirwan’s Lane is Judy Green’s Pottery studio
                                where Ms Green can be seen working away.
                            </p>
                        </section>

                        <section class="todo">
                            <h2>Traditional music on Quay Street</h2>
                            <p>
                                <img src="~/Images/muspub.jpg" alt="Live traditional music in a pub" class="piclf" />
                                It might seem that Quay Street is home to most of the pubs, restaurants and cafes in Galway. It also has
                                the best selection of live traditional music in bars such as The Quays, Tigh Neachtain and The Spanish
                                Arch Hotel Bar. Sit in on a sessiún and enjoy the sounds of the bodhráns and banjos.
                            </p>
                        </section>

                        <h2>How to move around</h2>
                        <p>
                            The B &amp; B is 50 miles / 80 Km from Shannon airport and about a 2-hour drive from Dublin airport.
                            Taxis are available on request.
                            The nearest bus stop is only 60 yards away.
                        </p>
                    </article>

                    <article class="welcome">
                        <section class="todo">
                            <h2>Packages and Specials</h2>
                            <p>
                                Sightseeing tours can be arranged at the B&amp;B at a discount for: Connemara, Cliffs of Moher,
                                The Aran Islands and a Bus Tour of Galway City.*All tickets can be purchased on arrival.*
                            </p>
                        </section>
                        <section class="todo">
                            <h2>Connemara</h2>
                            <p>
                                <img src="~/Images/connem.jpg" alt="Connemara" class="piclf" />Connemara
                                (Irish: Conamara; pronounced [ˈkɔnˠamˠaɾˠa]) is a cultural region in County Galway,
                                Ireland. The most common definition of the area is that it consists of West Galway;
                                that is to say the part of the county west of Lough Corrib, contained by Killary Harbour,
                                Galway Bay and the Atlantic Ocean. Because of its association with a traditional Irish
                                culture and the view of it as the "most Irish" part of Ireland, it has been a tourist
                                destination for some. More restrictive definitions of Connemara define it as
                                the historical territory of Conmhaícne Mara; just the far north-west of County Galway,
                                bordering County Mayo. The area contains a vast part of the Connacht Irish-speaking
                                Gaeltacht, which is a key part of the identity of the region and as the largest Gaeltacht
                                in the country; Ireland itself. The wider area of what is today known as Connemara was
                                previously a sovereign kingdom known as Iar Connacht, under the kingship of the Ó
                                Flaithbertaigh, until it joined the Kingdom of Ireland in the 16th century.
                                For more information on <a href="http://www.connemara.net/"> Connemara</a>.
                            </p>
                        </section>

                        <section class="todo">
                            <h2>Cliffs of Moher</h2>
                            <p>
                                <img src="~/Images/cliffs.jpg" alt="Cliffs of Moher" class="piclf" />
                                The Cliffs of Moher (Irish: Aillte an Mhothair) are located at the southwestern
                                edge of the Burren region in County Clare, Ireland. They rise 120 metres (390 ft)
                                above the Atlantic Ocean at Hag's Head and reach their maximum height of 214 metres
                                (702 ft) just north of O'Brien's Tower, eight kilometres to the north.
                                A round stone tower near the midpoint of the cliffs was built in 1835 by
                                Sir Cornelius O'Brien. From the cliffs and from atop the tower, visitors can see
                                the Aran Islands in Galway Bay, the Maumturks and Twelve Pins mountain ranges to the
                                north in County Galway, and Loop Head to the south. The cliffs rank amongst the most
                                visited tourist sites in Ireland[6] and receive approximately one million visitors a year.
                                The closest settlements are Liscannor (6 km south) and Doolin (7 km north).
                                For more information on<a href="https://www.cliffsofmoher.ie/"> Cliffs of Moher </a>.
                            </p>
                        </section>
                        <section class="todo">
                            <h2>The Aran Islands</h2>
                            <p>
                                <img src="~/Images/ironislands.jpg" alt="The Iron Islands" class="piclf" />
                                The Aran Islands are a group of three islands on the west coast of Ireland in the middle
                                of the Wild Atlantic Way. It is more than just a holiday destination with accommodation
                                for all budgets including Camping, Hostels, Bed and Breakfasts, and Hotels. The islands
                                are at the mouth of Galway Bay, in County Galway but are also accessible from Doolin
                                which is beside the Cliffs of Moher in County Clare. The Three Islands are made of
                                Limestone and resemble the landscape of the Burren. They are The 1,200 residents primarily
                                speak Irish, but are also fluent in English. The names of the Aran Islands are: Inis Mor
                                (Inishmore), Inis Meain (Inishmaan), and Inis Oirr (Inisheer) and here you will find the
                                traditional Irish way of life. The “largest” is Inishmore — characterized by numerous
                                important Celtic Monuments and churches, miles of stone walls, abundant wildlife and 8kms
                                of Cliffs. Dun Aonghas is the most prominent fort which is located on 300 foot cliffs.
                                Most people who visit hire bikes and cycle around the island exploring the various sights.
                                Inishmore has recently been appointed a venue for the Red Bull Cliff Diving competition and
                                has numerous quirky festivals throughout the year such as the Father Ted Festival in
                                February. You will also find year round Traditional Irish Music in the local pubs.
                                The other islands, Inishmaan and Inisheer, are even smaller, much less populated,
                                and less touristic.For more information on <a href="http://www.connemara.net/"> The Aran Islands</a>.
                            </p>
                        </section>
                        <section class="todo">
                            <h2>Bus Tour</h2>
                            <p>
                                <img src="~/Images/bus.jpg" alt="bus" class="piclf" />
                                Hop/on Hop off all day.
                                Tour lasts 1 hour approx.
                                We also offer a Galway Sight Seeing Tour on an open top bus with a Professional Irish tour Guide.
                                This tour visits Galway Cathedral, The University, Salmon Weir Bridge, Salthill, The Claddagh, Galway Bay, Spanish arch and much more!
                                Departs Daily: (April – September)
                                11:00am
                                12:30pm
                                14:00pm
                                15:30pm
                                Tour highlights:

                                Eyre Square,
                                Spanish Arch,
                                Town Hall Theatre,
                                ,Galway Museum
                                ,Courthouse
                                ,The Old City
                                ,Salmon Weir
                                ,Lynch's Castle
                                ,Cathedral
                                ,St. Nicholas' Church
                                ,University
                                ,Nora Barnacle Joyce House
                                ,Claddagh Village
                                ,St. Marys College
                                ,Lynch's Window
                                ,1st Irish National School
                                ,Home of Humanity Dick
                                ,Salthill village
                                ,Blakes Castle
                                ,Atlantaquaria
                                ,Old Medieval City
                                ,Galway Famine Road
                                ,Home of the World famous Claddagh Ring
                                ,Wolf Tone Bridge.
                                For more information on <a href="http://www.galwaybustours.ie/">
                                    Bus Tours
                                </a>.
                            </p>
                        </section>
                        <p>ENJOY YOUR VISIT!</p>
                    </article>


                </div>
           


        <script src="https://use.fontawesome.com/0015bde30a.js"></script>
  

