
@{
    ViewBag.Title = "Suites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


                <div id="container">


                    <article class="welcome">
                        <section class="todo">
                            <h1>The Wild Atlantic Way Suite</h1>
                            <p><img src="~/Images/TheWildAtlanticWaySuite.jpg" class="pic" alt="The Wild Atlantic Way Suite"></p>
                            <ul>
                                <li>Room size: 15 m² </li>
                                <li>Bed options: 1 single bed.</li>
                                <li>Private bathroom with full size bath</li>
                                <li>Separate walk-in tropical rain shower </li>
                                <li>With view onto the patio area</li>
                                <li>Own private Balcony</li>
                                <li>32" to 40" flat T.V.</li>
                                <li>Central heating</li>
                                <li>Iron and ironing board</li>
                                <li>Hair dryer</li>
                                <li>Wardrobe/Closet</li>

                                <li>Free toiletries</li>
                            </ul>
                            <b>All rooms are strictly non-smoking</b>
                        </section>
                    </article>



                    <article class="welcome">
                        <section class="todo">
                            <h1>The Moher Suite</h1>
                            <p><img src="~/Images/The Moher Suite  ------.jpg" class="pic" alt="The Moher Suite"></p>
                            <ul>
                                <li>Room size: 15 m² </li>
                                <li>Bed options: 1 double bed </li>
                                <li>Private bathroom with full size bath</li>
                                <li>Separate walk-in tropical rain shower </li>
                                <li>With view onto the patio area</li>

                                <li>32" to 40" flat T.V.</li>
                                <li>Central heating</li>
                                <li>Iron and ironing board</li>
                                <li>Hair dryer</li>
                                <li>Wardrobe/Closet</li>

                                <li>Free toiletries</li>
                            </ul>

                            <b>All rooms are strictly non-smoking</b>
                        </section>
                    </article>

                    <article class="welcome">
                        <section class="todo">
                            <h1>The West Suite</h1>
                            <p><img src="~/Images/TheWestSuite.jpg" class="pic" alt="The West Suite"></p>
                            <ul>
                                <li>Private bathroom Room size: 20 m² </li>
                                <li>Bed options: 1 double bed and 1 single bed or 3 single beds.</li>
                                <li>Private bathroom with full size bath</li>
                                <li>Separate walk-in tropical rain shower</li>
                                <li>With views onto the patio area</li>

                                <li>32" to 40" flat T.V.</li>
                                <li>Central heating</li>
                                <li>Iron and ironing board</li>
                                <li>Hair dryer</li>
                                <li>Wardrobe/Closet</li>

                                <li>Free toiletries</li>

                            </ul>

                            <b>All rooms are strictly non-smoking</b>
                        </section>
                    </article>
                    <article class="welcome">
                        <section class="todo">
                            <h1>The Connacht Suite </h1>
                            <p><img src="~/Images/TheConnachtSuite.jpg" class="pic" alt="The Connacht Suite"></p>
                            <ul>
                                <li>Room size: 27 m²</li>
                                <li>Bed options: One double and two single beds.</li>
                                <li>Private bathroom with full size bath</li>
                                <li>Separate walk-in tropical rain shower</li>
                                <li>With view onto the patio area</li>

                                <li>32" to 40" flat T.V.</li>
                                <li>Central heating</li>
                                <li>Iron and ironing board</li>
                                <li>Hair dryer</li>
                                <li>Wardrobe/Closet</li>

                                <li>Free toiletries</li>
                            </ul>


                            <b>All rooms are strictly non-smoking</b>
                        </section>
                    </article>


                    <article class="welcome">
                        <table class="table">
                            <caption>Capacity &amp; Prices</caption>
                            <tr>
                                <th>Suites</th>
                                <th>Type</th>
                                <th>Capacity</th>
                                <th>Price</th>
                            </tr>
                            <tr>
                                <td>The Wild Atlantic Way Suite</td>
                                <td>Single Room</td>
                                <td>Max 1 person</td>
                                <td>30 Euro/ Night</td>
                            </tr>
                            <tr>
                                <td>The Moher Suite</td>
                                <td>Double Room</td>
                                <td>Max 2 persons</td>
                                <td>35 Euro/ Night</td>
                            </tr>
                            <tr>
                                <td>The West Suite</td>
                                <td>Triple Room </td>
                                <td>Max 3 persons</td>
                                <td>45 Euro/ Night
                                <td>
                            </tr>
                            <tr>
                                <td>The Connacht Suite </td>
                                <td>Family Room </td>
                                <td>Max 2 adults and 2 kids</td>
                                <td> Costs available</td>
                            </tr>
                        </table>

                    </article>



                    <article class="welcome">
                        <h1>Amenities</h1>


                        <p>
                            All rooms in the B&amp;B offer the following to its guests: luxuriously furnished, non-smoking, own private
                            bathrooms with full size baths, separate walk-in tropical rain showers, walnut wooden floors, central
                            heating, iron and ironing board, hair dryer, all with 32" to 40" flat T.V. and tea/coffee making facilities.
                            Full breakfast, free 24-hour wireless broadband Internet access throughout, free private off street car
                            park and all taxes are included in rate.
                        </p>

                    </article>


                    <article class="welcome">
                        <h1>TripAdvisor Excellence Award</h1>
                        <p>
                            Moore's B&amp;B has won the 2015 and 2016 TripAdvisor Award, thanks to you, our loyal customers that give your<a href="reviews.html"> feedback </a>
                            so that we can be better!
                        </p><p>Please, feel free to rate us and to let us know how Moore's B&amp;B can make your stay even better!</p>

                        <img src="~/Images/coetr.png" alt="2016 TripAdvisor Exelence Awawrd" />
                        <img src="~/Images/2015.jpg" alt="2015 TripAdvisor Exelence Award" />
                    </article>


                    <article class="welcome">
                        <h3>Follow us on social media and show us your love!</h3>
                        <a href='#' target="_blank"><img src="~/Images/fbr.png" alt="Moore's B&amp;B Facebook page"></a>
                        <a href='#' target="_blank"><img src="~/Images/twr.png" alt="Moore's B&amp;B Twitter page"></a>
                        <a href='#' target="_blank"><img src="~/Images/tar.png" alt="Moore's B&amp;B TripAdvisor page"></a>
                        <a href='#' target="_blank"><img src="~/Images/gpr.png" alt="Moore's B&amp;B Google+ page"></a>
                    </article>
                </div>
            
        <script src="https://use.fontawesome.com/0015bde30a.js"></script>
   
