
@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="container">

    <aside>
        <h1>Want to write a Review</h1>
        @Html.ActionLink("Write a Review","AddReview","Booking")
    </aside>
    <article class="welcome">
        <h1>Reviews</h1>

        Tom G.
        <blockquote>
            <p>
                I loved this place and the people who run it. Gillian and her husband are
                the most incredible people with the most clean place I've stayed in.
                The full Irish Breakfast is to die for and will keep you full all day long.
                I stayed 3 nights, but wish I stayed longer. The bus stop is one block from their place
                (bus #404 to and from city center) and only costs 2euro and 10cents. It takes less than
                30 minutes to get either direction. You currently catch bus 404 in city center at stop #5
                (but that occasionally changes). Everyone is friendly!!! Gillian will even setup tour
                excursions and you are picked up directly in front of the B&amp;B. I went to the Cliffs
                of Moher for only 22euro and it was an all day event worth every bit you pay.
            </p>
        </blockquote>

        Mary Waters
        <blockquote>
            <p>
                From the moment we arrived to a very warm welcome from Gillian it was apparent that this was a
                superior accommodation. Excellent facilities, extremely clean and a superb breakfast.
                So many little extra finishing touches that really set the standard as to how a B&amp;B should be run.
                Thank you Gillian.
            </p>
        </blockquote>


        John Mc Millan
        <blockquote>
            <p>
                Our hostess Nora was lovely and friendly and she keeps her B&amp;B sparkling clean.
                We stayed for two nights and I was really impressed how lovely she had freshened our room after the first night.
                Our room was big enough, breakfast was very good (I enjoyed fruit salad very much in addition to full Irish
                breakfast) and wi-fi worked well.
                It takes some 20-30 mins to walk into the Galway city centre, but there are also busses, if weather is bad.
                Parking in the front yard felt really safe.
            </p>
        </blockquote>

        Sandy
        <blockquote>
            <p>
                Great location in walking distance to city (about half hour), lovely room- clean and bright,
                helpful host, wonderful breakfast- cereal, fruit, yogurt, brown bread toast. WIFI in room. Excellent overall
                B&amp;B
            </p>
        </blockquote>

        Paul F.
        <blockquote>
            <p>
                Because of work, I have stayed in a lot of B&amp;Bs in Galway over the past two years and Moore's BnB
                was definitely one of the best. The bedroom and ensuite were spotlessly clean, the bed was very comfortable and,
                although I had to leave early the next morning, Nora got up early to ensure that I had a delicious breakfast before
                I left. Overall a very pleasant stay and great value for money.
            </p>
        </blockquote>

    </article>


    <article class="welcome">
        <h1>TripAdvisor Excellence Award</h1>
        <p>
            Moore's B&amp;B has won the 2015 and 2016 TripAdvisor Award, thanks to you, our loyal customers that give your<a href="reviews.html"> feedback </a>
            so that we can be better!
        </p><p> Please, feel free to rate us and to let us know how Moore's B&amp;B can make your stay even better!</p>

        <img src="~/Images/coetr.png" alt="2016 TripAdvisor Exelence Awawrd" />
        <img src="~/Images/2015.jpg" alt="2015 TripAdvisor Exelence Award" />
    </article>
    <article class="welcome">
        <p>Follow us on social media and show us your love!</p>
        <a href='#' target="_blank"><img src="~/Images/fbr.png" alt="Moore's B&amp;B Facebook page"></a>
        <a href='#' target="_blank"><img src="~/Images/twr.png" alt="Moore's B&amp;B Twitter page"></a>
        <a href='#' target="_blank"><img src="~/Images/tar.png" alt="Moore's B&amp;B TripAdvisor page"></a>
        <a href='#' target="_blank"><img src="~/Images/gpr.png" alt="Moore's B&amp;B Google+ page"></a>
    </article>
</div>

<script src="https://use.fontawesome.com/0015bde30a.js"></script>