
@{
    ViewBag.Title = "Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Status</h2>
<p>@ViewData["status"]</p>
<div class="statusView">
    <p>Thank you for Registration!</p>
    <p>I hope you have a great time in Galway!</p>
</div>

